a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.hover-link:hover {
  color: orangered;
}
.btn-hover:hover {
  background-color: orangered;
}
.link {
  margin: 5px 0px;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
  color: black;
}
a {
  color: black;
}
.msg-err {
  color: red;
}
.form-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.cursor-pointer {
  cursor: pointer;
}
.btn-form {
  margin-top: 20px;
}
.input-cus {
  margin: 20px 10px 0px 0px;
  width: 98%;
}
